$color-primary: #697F44;
$color-secondary: #A6B670;
$color-accent: #653B53;
$color-error: #FF5252;
$color-info: #2196F3;
$color-success: #4CAF50;
$color-warning: #FFC107;



/* Color Theme Swatches in Hex */
$autumn-1-hex: #697F44;
$autumn-2-hex: #A6B670;
$autumn-3-hex: #D4A88B;
$autumn-4-hex: #EAB88E;
$autumn-5-hex: #653B53;

/* Color Theme Swatches in RGBA */
$autumn-1-rgba: rgba(105,126,68, 1);
$autumn-2-rgba: rgba(165,182,112, 1);
$autumn-3-rgba: rgba(212,168,138, 1);
$autumn-4-rgba: rgba(233,184,142, 1);
$autumn-5-rgba: rgba(100,59,82, 1);

/* Color Theme Swatches in HSLA */
$autumn-1-hsla: hsla(82, 30, 38, 1);
$autumn-2-hsla: hsla(73, 32, 57, 1);
$autumn-3-hsla: hsla(23, 45, 68, 1);
$autumn-4-hsla: hsla(27, 68, 73, 1);
$autumn-5-hsla: hsla(325, 26, 31, 1);